[submodule "ColobotModelConverter"]
	path = ColobotModelConverter
	url = https://github.com/tomaszkax86/ColobotModelConverter
[submodule "colobot-alludo"]
	path = colobot-alludo
	url = https://github.com/MrSimbax/colobot-alludo
